.loader {
    color: #d3d5e7;
    display: inline-block;
    position: relative;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  .loader::after {
    content: '';  
    width: 5px;
    height: 5px;
    background: currentColor;
    position: absolute;
    bottom: 10px;
    right: -5px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 10px 0 rgba(219, 222, 233, 0.645), 20px 0 rgba(232, 222, 222, 0.7);
    }
    50% {
      box-shadow: 10px 0 rgb(144, 131, 196), 20px 0 rgba(255, 255, 255, 0.815);
    }
    100% {
      box-shadow: 10px 0 rgb(161, 159, 193), 20px 0 rgb(200, 174, 209);
    }
  }