.loader {
    color: #000000;
    display: inline-block;
    position: relative;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  .loader::after {
    content: '';  
    width: 5px;
    height: 5px;
    background: currentColor;
    position: absolute;
    bottom: 10px;
    right: -5px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 10px 0 rgba(86, 126, 236, 0), 20px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 10px 0 rgb(16, 10, 41), 20px 0 rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 10px 0 rgb(26, 25, 43), 20px 0 rgb(30, 22, 33);
    }
  }